{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mes Commentaires</h1>

    <div class="row mt-3">
        {% include 'include/_flashes.html.twig' %}
    </div>
    <div class="row">
        <div class="card-dashboard col-6">
            <h5>Total des commentaires créés : {{ total }}</h5> 
        </div>
    </div>

    <div class="row mx-auto"> 
        <div class="col-10 mt-4">

            <h3>Commentaires en ligne</h3>

            <table class="table">

                <thead> 
                    <tr>
                        <th>Coaching/Accompagnement</th>
                        <th>Contenu</th>
                        <th>N°Id</th>
                        <th>Créé le</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>

                    {% set countIn = 0 %}

                    {% if commentaries is not empty %}

                        {% for commentary in commentaries %}
                            {% if commentary.createdAt is not null %}
                                {%  set countIn = countIn + 1 %}
                           
                                <tr>
                                    <td>{{ commentary.service.title }}</td>
                                    <td>{{ commentary.comment | length > 80 ? commentary.comment|slice(0,80) ~ '...' : commentary.comment }}</td>
                                    <td>{{ commentary.id }}</td>
                                    <td>{{ commentary.createdAt | date('d/m/Y') }}</td>
                                    <td>
                                        <a href="{{ path('app_user_show_commentary', {'id': commentary.id}) }}" class="btn btn-info" title="Voir mon commentaire"><i class="fa fa-magnifying-glass fa-beat mx-2"></i>Voir</a>
                                        <a href="{{ path('app_user_update_commentary', {'id': commentary.id}) }}" class="btn btn-warning" title="Modifier mon commentaire"><i class="fa fa-edit fa-beat mx-2"></i>Modifier</a>
                                        <a href="{{ path('app_user_delete_commentary', {'id': commentary.id}) }}" class="btn btn-danger" title="Supprimer mon commentaire"><i class="fa fa-trash fa-beat mx-2"></i>Supprimer</a>
                                    </td>
                                </tr>

                            {% endif %}
                        {% endfor %}

                    {% endif %}

                </tbody>

            </table>

            <p>Total : {{ countIn }}</p>

        </div>
    </div>

{% endblock %}

