{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="card-service text-center my-5 ">
        <div class="card-header rounded col-12">	
            <h1 class="card-title my-5 col-12">Terra-Gaïa Coaching Professionnel</h1>
        </div>
       
        <div class="card-body card-text col-10 my-5 mx-5">
            <div class="col-12">
                <img src="/assets/images/logos/logo_terra_gaia_normal.png" class="nav-logo" alt="terra-gaia-coaching-professionnel-conseil-rh-formation">
            </div>
            <h2 class="card-title col-8 my-2 ">Coaching, Conseil RH et Formation</h2>
            <h3 class="card-text col-12 my-2">Découvrez mes domaines d’intervention selon votre profil et vos attentes.</h3>
            <h5 class="card-text col-12 my-2">Inscrivez vous gratuitement puis prenez un RDV d’Information en choisissant le Coaching qui vous intéresse. (par Visio-conférence ou Tél)</h5>
            <p class="card-text col-12 my-2">Suite à ce premier rendez-vous, un devis personnalisé sera envoyé dans votre Espace Utilisateur, suivant le nombre de séances fixées, vous aurez alors la possibilité de réserver vos séances sur le calendrier de mes disponibilités afin de constituer votre agenda des séances de Coaching/Accompagnement.</p>
            <h5 class="text-danger card-text col-12 my-4"><i class="fa fa-user fa-fade mx-2">Inscrivez vous GRATUITEMENT</i></h5>
            <h5 class="text-warning card-text col-12 my-2">Cliquez sur Prendre un RDV</h5>
            {% if not app.user %}
                <div class="col-4 text-center">
                    <a class="nav-link btn-action my-4" href="{{ path('app_login') }}" title="Se Connecter"><i class="fa fa-user fa-flip mx-2"></i>Se Connecter</a>
                </div>
            {% else %}
                <div class="col-4 text-center">
                    <a class="nav-link btn-action my-4" href="{{ path('app_user_rdv') }}" title="Prendre un RDV"><i class="fa fa-calendar-day fa-flip mx-2"></i> Prendre un RDV</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'include/_flashes.html.twig' %}

    <div class="row mx-auto align-items-center">
        {% for category in categories %}
            <div class="col-4 mx-auto align-items-center text-center my-2">
                <div class="card">
                    <div class="card-header col-12 rounded my-2">
                        <img src="{{ asset ('uploads/') ~ category.picture }}" class="card-img-top img-card-custom" width="230" height="130" alt="{{ category.title }}">
                        <h5 class="card-title my-4">{{ category.title }}</h5>
                    </div>
                    <div class="card-body my-2">
                        <p class="card-text">{{ category.content | length > 200 ? category.content|slice(0,200) ~ '...' : category.content }}</p>
                        <a href="{{ path('app_show_services_from_category', {'category_title': category.title|lower, 'id': category.id }) }}" class="btn btn-view" title="Voir mes différents Coachings/Accompagnements dans cette catégorie"><i class="fa fa-magnifying-glass fa-beat mx-2"></i>Voir</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    <div class="card-service text-center my-5">
        <div class="card-body col-10 mx-5 my-4">
            <h2 class="card-header my-2 col-12">Créez un Compte gratuitement pour profiter de votre Espace Utilisateur dédié</h2>
            <h5 class="card-text my-2 col-12">Votre Tableau de Bord Utilisateur vous permettra de visualiser et d'accèder à toutes vos données.</h5>
        </div>
    </div>

</div>

{% endblock %}
