{% extends 'base.html.twig' %}

{% block title %}Qui suis-je?{% endblock %}

{% block body %}

    <h1>Thème qui suis-je?</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ theme.title }}</td>
            </tr>
            <tr>
                <th>Sous-Titre</th>
                <td>{{ theme.subtitle }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ theme.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ theme.picture }}</td>
            </tr>
            <tr>
                <th>N°Id</th>
                <td>{{ theme.id }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <div class="text-center mx-auto my-2">
        <p class="col-12"><a href="{{ path('app_theme_index') }}" class="btn btn-view" title="Retour vers Liste"><i class="fa-solid fa-circle-arrow-left fa-beat mx-2"></i>Retour</a></p>
    </div>
    <hr>
    <div class="text-center mx-auto">
        <p class=" col-12"><a href="{{ path('app_theme_edit', {'id': theme.id}) }}"class="btn btn-warning" title="Modifier ce Thème Qui suis-je ?"><i class="fa fa-edit fa-beat mx-2"></i>Modifier</a></p>
    </div>
    <hr>
    <div class="text-center mx-auto my-2">
        <h5 class="col-12">Supprimer le Thème Qui suis-je ?*</h5>
        {{ include('theme/_delete_form.html.twig') }}
        <p class="col-12">*Attention ! toute suppression est définitive.</p>
    </div>
    <hr>
{% endblock %}
